/*基本設定*/
:root{
    --normal-color: #ffa500/*基本色を設定*/
}
body{
    font-family: "Noto Sans JP";
    margin: 0;
    padding: 0;
}
* {
  box-sizing: border-box;
}
a{
  color:#315694;
  text-decoration: none;
  transition: .3s;
}
a:hover{
  text-decoration:underline;
}
/*header*/
/*共通*/
  header{
    width: 100%;
    padding: 0px 15px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .logo {
    font-size: 25px;
  }
  header nav {
    margin: 0 0 0 auto;
  }
  header ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  header a {
    color: #000;
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0 20px;
  }
  .sm {
    display: none;
}
@media (min-width: 600px){
  .pc ul{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
  }
  .pc li a{
    text-align: center;
    width:10em;
    border-right:1px solid #ddd;
  }
  #first-header{
    display: flex;
    justify-content: space-between;
    min-width: 600px;
    max-width: 1300px;
    margin:auto
  }
  .sns{
    display: flex;
  }
}
  @media (max-width: 600px) {
    header{
      height: 60px ;
      width: 100%;
      padding: 0px 15px;
      background-color: #fff;
      position: fixed;
      top: 0;
      z-index: 10;
      display: flex;
      border-bottom: 0.5px solid #ddd;
    }
    .pc {
      display: none;
    }
  
    #hamburger {
      background-color: transparent;
      position: relative;
      cursor: pointer;
      margin: 0 0 0 auto;
      height: 60px;
      width: 60px;
    }
  
    .icon span {
      position: absolute;
      left: 15px;
      width: 30px;
      height: 4px;
      background-color: #000;
      border-radius: 8px;
      transition: ease 0.75s;
    }
    .icon span:nth-of-type(1) {
      top: 16px;
    }
    .icon span:nth-of-type(2) {
      top: 28px;
    }
    .icon span:nth-of-type(3) {
      bottom: 16px;
    }
    .close span:nth-of-type(1) {
      transform: rotate(45deg);
      top: 28px;
    }
  
    .close span:nth-of-type(2) {
      opacity: 0;
    }
  
    .close span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
    }
    .sm {
        top: 60px;
        left: 0px;
        position: absolute;
        z-index: 10;
        width: 100%;
        background-color: #fff;
    }
    ul {
      flex-direction: column;
    }
    .sm a{
      text-align: center; 
    }
    .sm a{
        border-bottom: 1px solid #ddd;
    }
  }